<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ html_language }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ html_language }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ html_language }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ html_language }}" class="no-js"> <!--<![endif]-->
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <meta name="description" content="{% block meta_description %}description{% endblock %}">
                <meta name="viewport" content="width=device-width">
            {% endblock %}

            {% block facebook_meta %}

            {% endblock %}

            <title>{% block title %}Hello world{% endblock %}</title>

            {% block stylesheet %}
                <!-- <link rel="stylesheet" href="css/normalize.css"> -->
                <link rel="stylesheet" href="{{ asset('bundles/teoboilerplate/css/bootstrap.min.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/teoboilerplate/css/main.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/teoboilerplate/css/base/jquery-ui.css') }}">
            {% endblock %}

            <script src="{{ asset('bundles/teoboilerplate/js/vendor/modernizr-2.6.2.min.js') }}"></script>
        {% endblock %}
    </head>
    <body class="{% block body_classes %}{% endblock %}">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        {% block main_prepend %}{% endblock %}

        {% block main %}
            <div>
                <h1>Hello!</h1>
            </div>
        {% endblock main %}

        {% block main_append %}{% endblock %}

        {% block javascript %}
        {# uncomment following to use google api version with local fallback #}
        {#
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ asset('bundles/teoboilerplate/js/vendor/jquery-1.9.1.min.js') }}"><\/script>')</script>
        #}
            <script src="{{ asset('bundles/teoboilerplate/js/vendor/jquery-1.9.1.min.js') }}"></script>
            <script src="{{ asset('bundles/teoboilerplate/js/vendor/jquery-ui.js') }}"></script>
            <script src="{{ asset('bundles/teoboilerplate/js/vendor/bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/teoboilerplate/js/vendor/json2-min.js') }}"></script>
            <script src="{{ asset('bundles/teoboilerplate/js/vendor/underscore.js') }}"></script>
            <script src="{{ asset('bundles/teoboilerplate/js/vendor/backbone.js') }}"></script>
        {% endblock javascript %}

        {% block analytics %}
            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
            <!--
            <script>
                var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
            -->
        {% endblock analytics %}

    </body>
</html>
